<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<header th:fragment="header">
    <link rel="stylesheet" th:href="@{style.css}">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/cart}">Cart</a></li>
            <li><a th:href="@{/product-detail}">Product Details</a></li>
            <li><a th:href="@{/place-order}">Place Order</a></li>
            <li><a th:href="@{/search}">Search</a></li>
        </ul>
    </nav>
</header>

<footer>

</footer>

</html>